#disco{
  position: relative;
    height: 200vh;
    background-color: $detalle8;
    .flecha{
      position: absolute;
      bottom: 0;
      left: 49%;
      font-size: 1.3rem;
      text-shadow: 1px 1px 1px $detalle6;
    } 
  }